<div align="center">
  <h2>Hi there <span><mat-icon aria-hidden="false" aria-label="Example home icon">mood</mat-icon></span></h2>
</div>

<div align="center">
  <img mat-card-image src="assets/pictures/fotoProfil.jpg" alt="Photo of a Shiba Inu">
</div>
<p style="margin-right: 15%; margin-left: 15%;" align="center">My name is Osvaldo Fariñas Fernández and i am a software
  developer who loves
  to build software solution
  and exchange ideas with others. I have been working for a couples of companies in
  the last 4 years where i had the pleasure to face up many challenges and learnt a lot. If you want to know more about
  me, you will find more information on this page
</p>
<!--<button mat-button (click)="download()">download</button>-->
