<h3 align="center">Experiences</h3>
<div>
  <h4> Kaider X Labs A company of Allianz </h4>
  <mat-accordion style="margin-bottom: 2px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rentenwelt
          <br>
        </mat-panel-title>
        <mat-panel-description>
          <span>2019</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Title</h4>
      <p> Software Developer</p>
      <mat-divider></mat-divider>
      <h4>Location</h4>
      <p> Stuttgart</p>
      <mat-divider></mat-divider>
      <h4>Date</h4>
      <p> Oct 2018 - today</p>
      <mat-divider></mat-divider>
      <h4>Description</h4>
      <p>working as Frontend developer</p>
      <mat-divider></mat-divider>
      <h4>Technologies</h4>
      <p> Angular 8 , typescript, redux , ngrx, Jenkins, jest</p>
      <mat-divider></mat-divider>
      <h4>URL</h4>
      <a href="https://fourmore-starten.allianz.de/policy-holder">Rentenwelt</a>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style=" margin-top: 12px;">
  <mat-accordion style="margin-bottom: 2px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          AV@MO
        </mat-panel-title>
        <mat-panel-description>
          <span>2018</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Title</h4>
      <p> Software Developer</p>
      <mat-divider></mat-divider>
      <h4>Location</h4>
      <p> Stuttgart</p>
      <mat-divider></mat-divider>
      <h4>Date</h4>
      <p> march 2018 - oct 2018</p>
      <mat-divider></mat-divider>
      <h4>Descriptions</h4>
      <p>Conception and development for an 'Antragsstrecke' </p>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <h4>Technologies</h4>
      <p> Oct 2017 - today</p>
      <mat-divider></mat-divider>
      <h4>URL</h4>
      <a href="https://fourmore-starten.allianz.de/policy-holder">AV@MO</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style=" margin-top: 12px;">
  <mat-accordion style="margin-bottom: 2px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          PERSPEKTIVE
          <br>
        </mat-panel-title>
        <mat-panel-description>
          <span>2017</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Title</h4>
      <p> Software Developer</p>
      <mat-divider></mat-divider>
      <h4>Location</h4>
      <p> Stuttgart</p>
      <mat-divider></mat-divider>
      <h4>Date</h4>
      <p> Oct 2017 - today</p>
      <mat-divider></mat-divider>
      <h4>Description</h4>
      <p>Conception and development for an 'Antragsstrecke' </p>
      <mat-divider></mat-divider>
      <h4>Technologies</h4>
      <p> Angular2+, Middleware NodeJS, SOAP, RabbitMQ Java, Spring, Hibernate, Oracle)</p>
      <mat-divider></mat-divider>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style=" margin-top: 12px;">
  <h4> Key Software & Systeme</h4>
  <mat-accordion style="margin-bottom: 2px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CV Report
        </mat-panel-title>
        <mat-panel-description>
          <span>2017</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Title</h4>
      <p> Software Developer</p>
      <mat-divider></mat-divider>
      <h4>Location</h4>
      <p> Stuttgart</p>
      <mat-divider></mat-divider>
      <h4>Date</h4>
      <p> Oct 2017 - today</p>
      <mat-divider></mat-divider>
      <h4>Description</h4>
      <p> I was working on a project, which generates CV, base on the profiles and Projects of the
        employees
      </p>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <h4>Technologies </h4>
      <p>Angular 2 , Spring boot, Bootstrap Oracle java typescript/javascript
        Scrum Jira</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div style=" margin-top: 12px;">
  <mat-accordion style="margin-bottom: 2px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Supplier Portal
        </mat-panel-title>
        <mat-panel-description>
          <span>2017</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Title</h4>
      <p> Software Developer</p>
      <mat-divider></mat-divider>
      <h4>Location</h4>
      <p> Stuttgart</p>
      <mat-divider></mat-divider>
      <h4>Date</h4>
      <p> 2017</p>
      <mat-divider></mat-divider>
      <h4>Description</h4>
      <p> I was working as Architect and full stack in a supplier portal
      </p>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <h4>Technologies </h4>
      <p>angular 2, Spring Framework, Rest Services, JSON, java, Intellj, remote computer, JIRA, Confluence ,Tomcat
        (Server), Mysql server</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<div style=" margin-top: 12px;">
  <mat-accordion style="margin-bottom: 2px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Assist Control
        </mat-panel-title>
        <mat-panel-description>
          <span>2017</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Title</h4>
      <p> Software Developer</p>
      <mat-divider></mat-divider>
      <h4>Location</h4>
      <p> Stuttgart</p>
      <mat-divider></mat-divider>
      <h4>Date</h4>
      <p> 2017</p>
      <mat-divider></mat-divider>
      <h4>Description</h4>
      <p>
        I was working on the maintenance of the software
      </p>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <h4>Technologies </h4>
      <p>JSF, oracle, javascript ajax, java, eclipse</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
